/* LINK DE FUENTE */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans+Vai&family=Raleway:ital,wght@1,500&family=Urbanist:wght@300&display=swap');
/* FIN DE LINK DE FUENTE */
/* font-family: 'Abril Fatface', cursive;
font-family: 'Noto Sans Vai', sans-serif;
font-family: 'Raleway', sans-serif; 
font-family: 'Urbanist', sans-serif;
*/
.bodyContainer {
    background: linear-gradient(to right , #4b6cb7 ,#182848);
}
.bodyContainer2 {
    background: linear-gradient(to right, #283048, #859398);}

.titulo {
    font-family: 'Urbanist', sans-serif;
}
.navBar {
    background: linear-gradient(to top, #DAE2F8, #D6A4A4) !important;
}
.navBar2 {
background: linear-gradient(to left, #1A2980, #26D0CE);

}

.titulologo {
    
    grid-area: icono;
}
.logoM {
    height: 80px;
    width: 100px;
    border-radius: 100%;
border-style: solid;
}
.bienvenido {
    font-family: 'Urbanist', sans-serif;
    /* font-family: 'Abril Fatface', cursive; */
    /* font-family: 'Raleway', sans-serif; */
}
main { 
    
    text-align: center;
}
.progress {
    height: 30px !important;
}
.progress-bar {
    height: 30px !important;
}
.progressBar{
    grid-area: barra;
    height: 90px;
    width: 490px;
}
.conocimientos {
    font-family: 'Urbanist', sans-serif;

}
.quienSoy{
    grid-area: yo;
    font-family: 'Urbanist', sans-serif;
}
.cardServiciosTecnicos {
    display: grid;
    grid-template-areas: 
"servicios servicios servicios"
"camaras pc web"
"camaras pc web"
"camaras pc web"   ;
}
.s-tecnicos {
    font-family: 'Urbanist', sans-serif;
color: black;
    grid-area: servicios;
}
.camaras {
    color: black;
    grid-area: camaras;
}
.servicioPc {
    color: black;
    grid-area: pc;
}
.webDev {
    color: black;
    grid-area: web;
}

.cardServiciosConstruccion {
    display: grid;
    grid-template-areas:
    "construccion construccion construccion"
    "gas herreria plomeria"
    ;
}
.s-construccion {
font-family: 'Urbanist', sans-serif;
color: black;
    grid-area: construccion;
}
.gas {
    color: black;
    grid-area: gas;
}
.herreria {
    color: black;
    grid-area: herreria;
}

.plomeria {
    color: black;
    grid-area: plomeria;
}

.redes {
    background-color: #283048;
list-style-type: none;
text-decoration: none;
}

.copyright {
    text-align: center;
    color: black;
}
.footer {
    height: 50px;
    margin-top: 120px;
}
.footer a {
    text-decoration: none;
}
.instagram {
    color:rgb(196, 25, 90);

}
.facebook {
    color: blue;

}

.whatsapp {
color: green;

}
.redes {
    font-family: 'Raleway', sans-serif;
}
.hobbies{
    grid-area: hobbies;
}
.progressBar {
    margin-top: 40px;
    margin-bottom: 10px;
}

.progress {
    align-items: center;
    background: none;
}
.card {
    width: 40%;
}

/* Grid del Main */
.cardsContainer {
    display: grid;
    grid-template-areas:
    "yo biografia aplicaciones"
    "hobbies mascota aprender"
    ;
}
.yo {
    background-color: #D6A4A4;
    border-color: black;
    color: black;
    grid-area: yo;
}

.biografia {
    background-color: lightgrey;
    border-color: black;
    color: black;
    grid-area: biografia;
}

.hobbies {
    background-color: lightseagreen;
    border-color: black;
    color: black;
    grid-area: hobbies;
}

.aplicaciones {
    background-color: lightpink;
    border-color: black;
    color: black;
    grid-area: aplicaciones;
}

.mascota {
    background-color: orangered;
    border-color: black;
    color: black;
    grid-area: mascota;
}

.aprender {
    background-color: rgba(68, 68, 197, 0.283);
    border-color: black;
    color: black;
    grid-area: aprender;
}

.card {
    height: 18rem;
    width: auto;
}

.servicio {
    width: 90% !important;
    height: 70%;
}



@media (max-width:420px){
    .cardsContainer {
        display: grid;
        grid-template-areas: 
        "yo biografia"
        "aplicaciones hobbies"
        "mascota aprender"
        ;
    }

}

